@page "/login"
@inject NavigationManager Navigation
@inject BlazorApp1.APIClient.IAPIClient IApiClient
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider

<h3>Login</h3>

<input @bind="username" placeholder="Username" />
<input @bind="password" type="password" placeholder="Password" />
<button @onclick="OnLogin">Login</button>

<p>@message</p>

@code {
    private string username = "";
    private string password = "";
    private string message = "";

    private async Task OnLogin()
    {
        var response = await IApiClient.Login(username, password);
        if (response.IsSuccess)
        {
            // ローカルストレージに保存
            // await localStorage.SetItemAsync("authToken", token);

            message = "ログイン成功！";
            // Cookie にサーバー側でJWTがセットされている前提
            ((CustomAuthenticationStateProvider)AuthStateProvider).AuthenticateUser(username);

            // ((CustomAuthenticationStateProvider)AuthProvider).NotifyAuthenticationStateChangedManually();
            // Navigation.NavigateTo("/todo");
        }
        else
        {
            message = $"ログイン失敗 {Environment.NewLine}{response.Message}";
        }
    }
}
