@page "/login"
@inject NavigationManager Navigation
@inject BlazorApp1.APIClient.IAPIClient IApiClient
@rendermode InteractiveServer

<h3>Login</h3>

<input @bind="username" placeholder="Username" />
<input @bind="password" type="password" placeholder="Password" />
<button @onclick="OnLogin">Login</button>

<p>@message</p>

@code {
    private string username = "";
    private string password = "";
    private string message = "";

    private async Task OnLogin()
    {
        if (await IApiClient.Login(username, password))
        {
            // ローカルストレージに保存
            // await localStorage.SetItemAsync("authToken", token);

            message = "ログイン成功！";
            // Navigation.NavigateTo("/todo");
        }
        else
        {
            message = "ログイン失敗";
        }
    }
}
