@page "/users"
@inject BlazorApp1.APIClient.IAPIClient IApiClient

<h3>Users</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var user in users)
        {
            <li>
                <p>ID: @user.id</p>
                <p>Name: @user.name</p>
                <p>Email: @user.email</p>
            </li>
        }
    </ul>
}


@code {
    private List<BlazorApp1.Services.User?> users;
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        var result = await IApiClient.GetUsersAsync();
        users = result.Data;
        errorMessage = result.ErrorMessage;
    }
}
